typesense
streamlit
google-genai
qdrant-client
streamlit-modal
python-dotenv
numpy
matplotlib
svgpathtools
tqdm
networkx
shapely
torch
Pillow
opencv-python
transformers
pydantic
pydantic-settings
