typesense
streamlit
google-genai
qdrant-client
streamlit-modal
python-dotenv
numpy
matplotlib
svgpathtools
tqdm
networkx
shapely
torch
Pillow
opencv-python-headless
transformers
pydantic
pydantic-settings
markdownify
platformdirs
pypdfium2
filetype
click
einops
pre-commit
surya-ocr == 0.13.1
jupyter
pytesseract
pymupdf
datasets
rapidfuzz
pytest
pdftext
tabulate
ftfy
ultralytics
